
## Client display
[mysql]
user=benjamin
prompt=\h:\u\_\v\_[\d]\l>\_


[mysqldump]
quick
max_allowed_packet = 16M

[mysqld]
# Enable logging by default to help find problems
general-log
log-slow-queries

